
XamTwitch/\.vs/

XamTwitch/XamTwitch/bin/

XamTwitch/XamTwitch/obj/

XamTwitch/XamTwitch\.Android/bin/

XamTwitch/XamTwitch\.Android/obj/

XamTwitch/XamTwitch\.Android/Resources/

XamTwitch/XamTwitch\.iOS/bin/

XamTwitch/XamTwitch\.iOS/obj/

XamTwitch/XamTwitch\.UITests/bin/

XamTwitch/XamTwitch\.UITests/obj/
